/* You can add global styles to this file, and also import other style files */
$background-color: #ff9e0f;

body {
    background: $background-color; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, $background-color);
    background: -moz-linear-gradient(right, $background-color);
    background: -o-linear-gradient(right, $background-color);
    background: linear-gradient(to left, $background-color);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }